body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  /* display: flex; */
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* .container-nav {
  padding-right: 156px;
} */
.accent {
  color: #2e2f42;
}

.address {
  font-style: normal;
  color: #434455;
}

img {
  display: block;
}

/* -----------HEADER------------ */
.header {
  color: #2e2f42;
  border-bottom: 1px solid #e7e9fc;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  /* display: flex; */
  /* flex-wrap: nowrap; */
  width: 1158px;
  /* align-items: center; */
  padding: 0 15px;
  /* margin-bottom: 16px; */
  margin: 0 auto;
}
.header .container {
  display: flex;
  /* width: 1158px; */
  justify-content: space-between;
  align-items: center;
  /* margin: 0 auto;

  padding: 0 15px; */
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

span .accent {
  color: #f4f4fd;
}

.header-menu-list {
  color: #2e2f42;
  display: flex;
  /* margin-right: 332px; */
  /* gap: 40px; */
  padding: 0;
}

.header-menu-list:last-child {
  margin-right: 0;
}

.header-menu-item {
  display: flex;
  padding-right: 40px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-address {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-left: 236px;
}

.header-address-list {
  font-style: normal;
  display: flex;
  padding-left: 0;
}

.header-address-lis:last-child {
  margin: 0;
}

.header-address-item {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 40px;
}

.header-address-item:last-child {
  margin-right: 0;
}

.header-address-item:hover,
.header-address-item:focus {
  color: #404bbf;
}

.header-address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 0;
}

.header-address-item {
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-address-link {
}

/* -----------HEADER------------ */

/* -----------HERO---------- */

.section-hero {
  width: 100%;
  min-height: 600px;
  background-color: #2e2f42;
  padding: 188px 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: #404bbf;
}
/* -----------HERO---------- */

/*--------------ABOUT US-------------*/

.section-about-us {
  display: flex;
  padding: 120px 0;
  justify-content: center;
  padding: 120px auto;
}
.visually-hidden {
  position: absolute; /* Take it out of the normal document flow */
  width: 1px; /* Make it 1px wide */
  height: 1px; /* Make it 1px high */
  margin: -1px; /* Remove any extra space it might take up */
  padding: 0; /* Remove any internal padding */
  border: 0; /* Remove any borders */
  clip: rect(0, 0, 0, 0); /* Clip the element so it doesn't take up space */
  overflow: hidden; /* Hide anything that's outside of the clipped area */
}

.about-us-list {
  display: flex;
  flex-wrap: nowrap;
  width: 1158px;
  gap: 24px;
  padding: 0;
}

.about-us-list:last-child {
  margin-right: 0;
}

.about-us-item {
  align-items: flex-start;
  max-width: 264px;
  width: calc((100% - 72px) / 4);
  /* margin-right: 24px; */
}
.about-us-item:last-child {
  margin-right: 0;
}

.about-us-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-us-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*--------------ABOUT US-------------*/

/* --------------OUR TEAM----------- */
.section-our-team {
  background-color: #f4f4fd;
  /* padding-top: 120px;
  margin-bottom: 120px; */
  padding: 120px 0;
}

.our-team-title {
  display: block;

  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.our-team-list:last-child {
  margin: 0;
}

.our-team-item {
  display: flex;

  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  /* width: 264px;
  height: 380px; */
  margin-right: 24px;
  margin-bottom: 120px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: calc((100% - 72px) / 4);
}

.our-team-image {
}

.team-info {
  padding: 32px 0;
}
.our-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* --------------OUR TEAM----------- */

/* ----------PORTFOLIO--------------- */

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list:last-child {
  margin-bottom: 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-image {
  max-width: 360px;
}

.portfolio-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ----------PORTFOLIO--------------- */

/* --------------FOOTER------------------ */

.footer {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
  color: #f4f4fd;
  padding-top: 100px;
  /* padding-left: 156px; */
  padding-bottom: 100px;
}

.footer-container {
  display: inline-block;
  max-width: 264px;
  margin-bottom: 16px;
}
.logo {
  color: #4d5ae5;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer .accent {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
}

/* --------------FOOTER------------------ */
